{{ define "main" }}
{{ if eq .Type "blog" }}{{ if not .Params.menu }}
<h1>{{ .Title }}</h1>
<p>
  <time datetime='{{ if .GitInfo }}{{ .GitInfo.AuthorDate.Format "2006-01-02" }}{{ else }}{{ .Date.Format "2006-01-02" }}{{ end }}' pubdate>
    {{ if .GitInfo }}{{ .GitInfo.AuthorDate.Format (default "2006.01.02" .Site.Params.dateFormat) }}{{ else }}{{ .Date.Format (default "2006.01.02" .Site.Params.dateFormat) }}{{ end }}
  </time>
</p>
{{ end }}{{ end }}
<content>
  {{ .Content }}
</content>
<p>
  {{ range (.GetTerms "tags") }}
  <a href="{{ .Permalink }}">#{{ .LinkTitle }}</a>
  {{ end }}
</p>
  {{ partial "share.html" . }}
{{ end }}
